// Account item preview
.wrapper {
  width: 320px;
}

.popper {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.btn {
  min-width: 106px;
}

.nickname {
  display: flex;
  align-items: center;
  column-gap: 4px;

  strong {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 22px;
  }
}

.name {
  font-weight: 600;
  font-size: 1.4rem;
}

.stats {
  margin-top: 8px;
}

.value {
  font-weight: 700;
  margin-right: 6px;
  font-size: 1.7rem;
}

.value ~ .value {
  margin-left: 20px;
}
