.wrapper {
  margin-bottom: 8px;
}
.menu-items {
  display: flex;
  align-items: center;
  padding: 8px;
  font-weight: 700;
  font-size: 1.8rem;
  border-radius: 4px;
  transition: background-color ease-in-out 200ms;

  &.active {
    color: var(--primary);

    .icon {
      display: none;
    }

    .active-icon {
      display: flex;
    }
  }

  &:hover {
    background-color: var(--background-hover-color);
  }

  &:active {
    background-color: var(--background-active-color);
  }
}

.active-icon {
  display: none;
}

.icon {
  display: flex;
}

.title {
  margin-left: 8px;
}
