// Menu wrapper
.menu-wrapper {
  width: 224px;

  .menu-item {
    margin-left: 0;
  }
}

.menu-body {
  overflow-y: overlay;
}

// Menu item

.menu-item {
  width: 100%;
  justify-content: flex-start;
  padding: 12px 16px;
  border: 0;
  font-weight: 500;

  &.separate {
    border-top: 1px solid var(--border-gray-color);
  }

  &:hover {
    background-color: var(--background-hover-color);
  }

  .title:only-child {
    margin-left: 12px;
  }
}

// Header

.menu-header {
  position: relative;
  height: 50px;
  margin-top: -8px;
  flex-shrink: 0;
}

.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.back-btn svg {
  margin-left: 28px;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
